* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 2rem;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    list-style: none;
}

:root { /*dark mode*/

    /*COLORS*/

    --color-main: linear-gradient(90deg,rgba(39, 40, 69, 1) 0%, rgba(11, 8, 20, 1) 100%);
    --color-top-bar: rgb(27, 28, 47);
    --color-dark-clare-btn: rgb(228, 240, 212);

    /*COLORS CONSTANTS*/

    --color-text: rgb(228, 240, 212);
    --shadow-text: rgb(33, 27, 54);

    /*NUMBERS*/

    --mid-time: 1s;

}

.clare-mode {
    --color-main: linear-gradient(90deg,rgba(228, 240, 212, 1) 0%, rgba(196, 141, 132, 1) 100%);
    --color-top-bar: rgb(39, 40, 69);
    --color-dark-clare-btn: rgb(39, 40, 69);
}

header {
    background: var(--color-top-bar);
    width: 100%;
    padding: 16px;
    text-align: center;
    z-index: 3;
    transition: background var(--mid-time);
}

h1 b {
    text-shadow: 0 0 1.25rem var(--color-text);
    user-select: none;
}

h1, h2, h3 {
    color: var(--color-text);
    text-shadow: 0 0.5rem 0.2rem var(--shadow-text);
}

.mode-page-btn {
    background: rgba(118, 117, 117, 0.381);
    position: absolute;
    left: 93%;
    top: 85%;
    border-radius: 50%;
    padding: 1.2rem;
    z-index: 3;
    cursor: pointer;
}

.mode-page-btn svg {
    fill: var(--color-dark-clare-btn);
    transition: fill var(--mid-time);
}

body {
    background: var(--color-main);
    transition: background var(--mid-time);
}